<%- include('../layouts/admin/header.ejs') %>
<%- include('../layouts/admin/navbar.ejs') %>
<%- include('../layouts/admin/sidebar.ejs') %>




<main id="main" class="main">

  <div calass="pagetitle">
    <h1>sales</h1>

  </div>

  <section class="section dashboard">
    <div class="row">
      <div class="card br-8px">
        <div class="card-body">
          <br>
          <!-- Vertical Form -->
          <form class="row g-3" action="" method="post">
            <div class="col-6">
              <label for="inputNanme4" class="form-label">Date from</label>
              <input type="date" class="form-control"  id="from" name="from">
            </div>
            <div class="col-6">
              <label for="fordescription" class="form-label">Date to</label>
              <input type="date" class="form-control" id="to" name="to">
            </div>
            <% if(typeof message !== 'undefined'){ %>
            <p style="color: brown;"><%- message %> </p>
            <% } %>
            <div class="text-center">
              <button type="submit" class="btn btn-success" style="float:right;   padding-inline: 50px;"> submit</button>
            </div>
          </form><!-- Vertical Form -->
        </div>
      </div>

      <div class="col-lg-4">
      </div>
    </div>
  </section>

</main><!-- End #main -->

<%- include('../layouts/admin/footer.ejs') %>