<%- include('../layouts/admin/header.ejs') %>
<%- include('../layouts/admin/navbar.ejs') %>
<%- include('../layouts/admin/sidebar.ejs') %>
<main id="main" class="main">
  <section class="banner_area">
    <div class="banner_inner d-flex align-items-center">
      <div class="container">
        <div class="banner_content d-md-flex justify-content-between align-items-center">
          <div class="mb-3 mb-md-0 ">
            <h2>Product Details</h2>
            <nav>
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/admin/dashboard">Home</a></li>
                <li class="breadcrumb-item active">Products Details</li>
              </ol>
            </nav>
          </div>
          <div class="page_link">

          </div>
        </div>
      </div>
    </div>
  </section>


  <div class="container mt-5">

    <div class="row">

      <div class="col-md-6">
        <img src="/proImages/<%= product.image[0]%>" class="img-fluid">
      </div>
      <div class="col-md-6">
        <h2 class="mb-3"> </h2>
        <p class="mb-2"><strong>Price:</strong><%= product.price %></p>
        <p class="mb-2"><strong>Category:</strong><%= product.category.category %> </p>
        <p class="mb-2"><strong>Brand:</strong><%= product.brand.brand %> </p>
        <p class="mb-4"><strong>Description:</strong><%= product.description %></p>
      </div>
    </div>
  </div>
  <div class="col-md-6" style="margin-left: 15px; margin-top: 15px;" >
  <button  type="button" class="btn btn-secondary"> <a class="text-white"  style="margin-inline:25px;"  href="/admin/products/editProduct/<%= product._id%>">Edit</a></button>
  <button type="button" class="btn btn-danger"><a class="text-white"  style="margin-inline:25px;" href="/admin/products/<%= product._id%>">delete</a></button>
</div>
</main>
<%- include('../layouts/admin/footer.ejs') %>