<!-- HEADER -->
<header>
  <!-- TOP HEADER -->
  <div id="top-header">
    <div class="container">
      <ul class="header-links pull-left">
        <li><a href="#"><i class="fa fa-phone"></i> +021-95-51-84</a></li>
        <li><a href="#"><i class="fa fa-envelope-o"></i> email@email.com</a></li>
        <li><a href="#"><i class="fa fa-map-marker"></i> 1734 Stonecoal Road</a></li>
      </ul>
      <ul class="header-links pull-right">
        <li><a href="#"><i class="fa fa-user-o"></i> My Account</a></li>
        <li><i class="fa-thin fa-user-secret"></i>Log in</a></li>
      </ul>
    </div>
  </div>
  <!-- <li class="nav-item dropdown header-profile">
    <a class="icons" href="#" role="button" data-toggle="dropdown">
      <i class="ti-user" aria-hidden="true"></i>
    </a>
    <div class="dropdown-menu dropdown-menu-right">
      <a href="/admin/logout" class="dropdown-item">
        <i class="icon-key"></i>
        <span class="ml-2">Logout </span>
      </a>
    </div>
  </li> -->
  <!-- /TOP HEADER -->

  <!-- MAIN HEADER -->
  <div id="header">
    <!-- container -->
    <div class="container">
      <!-- row -->
      <div class="row">
        <!-- LOGO -->
        <div class="col-md-3">
          <div class="header-logo">
            <a href="#" class="logo">
              <img src="./user/img/logo.png" alt="">
            </a>
          </div>
        </div>
        <!-- /LOGO -->

        <!-- SEARCH BAR -->
        <div class="col-md-6">
          <div class="header-search">
            <form>
              <select class="input-select">
                <option value="0">All Categories</option>
                <option value="1">Category 01</option>
                <option value="1">Category 02</option>
              </select>
              <input class="input" placeholder="Search here">
              <button class="search-btn">Search</button>
            </form>
          </div>
        </div>
        <!-- /SEARCH BAR -->

        <!-- ACCOUNT -->
        <div class="col-md-3 clearfix">
          <div class="header-ctn">
            <!-- Wishlist -->
            <div>
              <a href="#">
                <i class="fa fa-heart-o"></i>
                <span>Your Wishlist</span>
                <div class="qty">2</div>
              </a>
            </div>
            <!-- /Wishlist -->

            <!-- Cart -->
            <div class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
                <i class="fa fa-shopping-cart"></i>
                <span>Your Cart</span>
                <div class="qty">3</div>
              </a>
              <div class="cart-dropdown">
                <div class="cart-list">
                  <div class="product-widget">
                    <div class="product-img">
                      <img src="./user/img/product01.png" alt="">
                    </div>
                    <div class="product-body">
                      <h3 class="product-name"><a href="#">product name goes here</a></h3>
                      <h4 class="product-price"><span class="qty">1x</span>$980.00</h4>
                    </div>
                    <button class="delete"><i class="fa fa-close"></i></button>
                  </div>

                  <div class="product-widget">
                    <div class="product-img">
                      <img src="./user/img/product02.png" alt="">
                    </div>
                    <div class="product-body">
                      <h3 class="product-name"><a href="#">product name goes here</a></h3>
                      <h4 class="product-price"><span class="qty">3x</span>$980.00</h4>
                    </div>
                    <button class="delete"><i class="fa fa-close"></i></button>
                  </div>
                </div>
                <div class="cart-summary">
                  <small>3 Item(s) selected</small>
                  <h5>SUBTOTAL: $2940.00</h5>
                </div>
                <div class="cart-btns">
                  <a href="#">View Cart</a>
                  <a href="#">Checkout <i class="fa fa-arrow-circle-right"></i></a>
                </div>
              </div>
            </div>
            <!-- /Cart -->

            <!-- Menu Toogle -->
            <div class="menu-toggle">
              <a href="#">
                <i class="fa fa-bars"></i>
                <span>Menu</span>
              </a>
            </div>
            <!-- /Menu Toogle -->
          </div>
        </div>
        <!-- /ACCOUNT -->
      </div>
      <!-- row -->
    </div>
    <!-- container -->
  </div>
  <!-- /MAIN HEADER -->
</header>
<!-- /HEADER -->

<!-- NAVIGATION -->
<nav id="navigation">
  <!-- container -->
  <div class="container">
    <!-- responsive-nav -->
    <div id="responsive-nav">
      <!-- NAV -->
      <ul class="main-nav nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="#">Hot Deals</a></li>
        <li><a href="#">Categories</a></li>
        <li><a href="#">Laptops</a></li>
        <li><a href="#">Smartphones</a></li>
        <li><a href="#">Cameras</a></li>
        <li><a href="#">Accessories</a></li>
      </ul>
      <!-- /NAV -->
    </div>
    <!-- /responsive-nav -->
  </div>
  <!-- /container -->
</nav>
<!-- /NAVIGATION -->

<!-- SECTION -->
<div class="section">
  <!-- container -->
  <div class="container">
    <!-- row -->
    <div class="row">
      <!-- shop -->
      <div class="col-md-4 col-xs-6">
        <div class="shop">
          <div class="shop-img">
            <img src="./user/img/shop01.png" alt="">
          </div>
          <div class="shop-body">
            <h3>Laptop<br>Collection</h3>
            <a href="#" class="cta-btn">Shop now <i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>
      </div>
      <!-- /shop -->

      <!-- shop -->
      <div class="col-md-4 col-xs-6">
        <div class="shop">
          <div class="shop-img">
            <img src="./user/img/shop03.png" alt="">
          </div>
          <div class="shop-body">
            <h3>Accessories<br>Collection</h3>
            <a href="#" class="cta-btn">Shop now <i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>
      </div>
      <!-- /shop -->

      <!-- shop -->
      <div class="col-md-4 col-xs-6">
        <div class="shop">
          <div class="shop-img">
            <img src="./user/img/shop02.png" alt="">
          </div>
          <div class="shop-body">
            <h3>Cameras<br>Collection</h3>
            <a href="#" class="cta-btn">Shop now <i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>
      </div>
      <!-- /shop -->
    </div>
    <!-- /row -->
  </div>
  <!-- /container -->
</div>
<!-- /SECTION -->

<!-- SECTION -->
<div class="section">
  <!-- container -->
  <div class="container">
    <!-- row -->
    <div class="row">

      <!-- section title -->
      <div class="col-md-12">
        <div class="section-title">
          <h3 class="title">New Products</h3>
          <div class="section-nav">
            <ul class="section-tab-nav tab-nav">
              <li class="active"><a data-toggle="tab" href="#tab1">Laptops</a></li>
              <li><a data-toggle="tab" href="#tab1">Smartphones</a></li>
              <li><a data-toggle="tab" href="#tab1">Cameras</a></li>
              <li><a data-toggle="tab" href="#tab1">Accessories</a></li>
            </ul>
          </div>
        </div>
      </div>
      <!-- /section title -->

      <!-- Products tab & slick -->
      <div class="col-md-12">
        <div class="row">
          <div class="products-tabs">
            <!-- tab -->
            <div id="tab1" class="tab-pane active">
              <div class="products-slick" data-nav="#slick-nav-1">
                <!-- product -->
                <div class="product">
                  <div class="product-img">
                    <img src="./user/img/product01.png" alt="">
                    <div class="product-label">
                      <span class="sale">-30%</span>
                      <span class="new">NEW</span>
                    </div>
                  </div>
                  <div class="product-body">
                    <p class="product-category">Category</p>
                    <h3 class="product-name"><a href="#">product name goes here</a></h3>
                    <h4 class="product-price">$980.00 <del class="product-old-price">$990.00</del></h4>
                    <div class="product-rating">
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                    </div>
                    <div class="product-btns">
                      <button class="add-to-wishlist"><i class="fa fa-heart-o"></i><span class="tooltipp">add to wishlist</span></button>
                      <button class="add-to-compare"><i class="fa fa-exchange"></i><span class="tooltipp">add to compare</span></button>
                      <button class="quick-view"><i class="fa fa-eye"></i><span class="tooltipp">quick view</span></button>
                    </div>
                  </div>
                  <div class="add-to-cart">
                    <button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> add to cart</button>
                  </div>
                </div>
                <!-- /product -->

                <!-- product -->
                <div class="product">
                  <div class="product-img">
                    <img src="./user/img/product02.png" alt="">
                    <div class="product-label">
                      <span class="new">NEW</span>
                    </div>
                  </div>
                  <div class="product-body">
                    <p class="product-category">Category</p>
                    <h3 class="product-name"><a href="#">product name goes here</a></h3>
                    <h4 class="product-price">$980.00 <del class="product-old-price">$990.00</del></h4>
                    <div class="product-rating">
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star-o"></i>
                    </div>
                    <div class="product-btns">
                      <button class="add-to-wishlist"><i class="fa fa-heart-o"></i><span class="tooltipp">add to wishlist</span></button>
                      <button class="add-to-compare"><i class="fa fa-exchange"></i><span class="tooltipp">add to compare</span></button>
                      <button class="quick-view"><i class="fa fa-eye"></i><span class="tooltipp">quick view</span></button>
                    </div>
                  </div>
                  <div class="add-to-cart">
                    <button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> add to cart</button>
                  </div>
                </div>
                <!-- /product -->

                <!-- product -->
                <div class="product">
                  <div class="product-img">
                    <img src="./user/img/product03.png" alt="">
                    <div class="product-label">
                      <span class="sale">-30%</span>
                    </div>
                  </div>
                  <div class="product-body">
                    <p class="product-category">Category</p>
                    <h3 class="product-name"><a href="#">product name goes here</a></h3>
                    <h4 class="product-price">$980.00 <del class="product-old-price">$990.00</del></h4>
                    <div class="product-rating">
                    </div>
                    <div class="product-btns">
                      <button class="add-to-wishlist"><i class="fa fa-heart-o"></i><span class="tooltipp">add to wishlist</span></button>
                      <button class="add-to-compare"><i class="fa fa-exchange"></i><span class="tooltipp">add to compare</span></button>
                      <button class="quick-view"><i class="fa fa-eye"></i><span class="tooltipp">quick view</span></button>
                    </div>
                  </div>
                  <div class="add-to-cart">
                    <button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> add to cart</button>
                  </div>
                </div>
                <!-- /product -->

                <!-- product -->
                <div class="product">
                  <div class="product-img">
                    <img src="./user/img/product04.png" alt="">
                  </div>
                  <div class="product-body">
                    <p class="product-category">Category</p>
                    <h3 class="product-name"><a href="#">product name goes here</a></h3>
                    <h4 class="product-price">$980.00 <del class="product-old-price">$990.00</del></h4>
                    <div class="product-rating">
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                    </div>
                    <div class="product-btns">
                      <button class="add-to-wishlist"><i class="fa fa-heart-o"></i><span class="tooltipp">add to wishlist</span></button>
                      <button class="add-to-compare"><i class="fa fa-exchange"></i><span class="tooltipp">add to compare</span></button>
                      <button class="quick-view"><i class="fa fa-eye"></i><span class="tooltipp">quick view</span></button>
                    </div>
                  </div>
                  <div class="add-to-cart">
                    <button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> add to cart</button>
                  </div>
                </div>
                <!-- /product -->

                <!-- product -->
                <div class="product">
                  <div class="product-img">
                    <img src="./user/img/product05.png" alt="">
                  </div>
                  <div class="product-body">
                    <p class="product-category">Category</p>
                    <h3 class="product-name"><a href="#">product name goes here</a></h3>
                    <h4 class="product-price">$980.00 <del class="product-old-price">$990.00</del></h4>
                    <div class="product-rating">
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                    </div>
                    <div class="product-btns">
                      <button class="add-to-wishlist"><i class="fa fa-heart-o"></i><span class="tooltipp">add to wishlist</span></button>
                      <button class="add-to-compare"><i class="fa fa-exchange"></i><span class="tooltipp">add to compare</span></button>
                      <button class="quick-view"><i class="fa fa-eye"></i><span class="tooltipp">quick view</span></button>
                    </div>
                  </div>
                  <div class="add-to-cart">
                    <button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> add to cart</button>
                  </div>
                </div>
                <!-- /product -->
              </div>
              <div id="slick-nav-1" class="products-slick-nav"></div>
            </div>
            <!-- /tab -->
          </div>
        </div>
      </div>
      <!-- Products tab & slick -->
    </div>
    <!-- /row -->
  </div>
  <!-- /container -->
</div>
<!-- /SECTION -->

<!-- HOT DEAL SECTION -->
<div id="hot-deal" class="section">
  <!-- container -->
  <div class="container">
    <!-- row -->
    <div class="row">
      <div class="col-md-12">
        <div class="hot-deal">
          <ul class="hot-deal-countdown">
            <li>
              <div>
                <h3>02</h3>
                <span>Days</span>
              </div>
            </li>
            <li>
              <div>
                <h3>10</h3>
                <span>Hours</span>
              </div>
            </li>
            <li>
              <div>
                <h3>34</h3>
                <span>Mins</span>
              </div>
            </li>
            <li>
              <div>
                <h3>60</h3>
                <span>Secs</span>
              </div>
            </li>
          </ul>
          <h2 class="text-uppercase">hot deal this week</h2>
          <p>New Collection Up to 50% OFF</p>
          <a class="primary-btn cta-btn" href="#">Shop now</a>
        </div>
      </div>
    </div>
    <!-- /row -->
  </div>
  <!-- /container -->
</div>
<!-- /HOT DEAL SECTION -->

<!-- SECTION -->
<div class="section">
  <!-- container -->
  <div class="container">
    <!-- row -->
    <div class="row">

      <!-- section title -->
      <div class="col-md-12">
        <div class="section-title">
          <h3 class="title">Top selling</h3>
          <div class="section-nav">
            <ul class="section-tab-nav tab-nav">
              <li class="active"><a data-toggle="tab" href="#tab2">Laptops</a></li>
              <li><a data-toggle="tab" href="#tab2">Smartphones</a></li>
              <li><a data-toggle="tab" href="#tab2">Cameras</a></li>
              <li><a data-toggle="tab" href="#tab2">Accessories</a></li>
            </ul>
          </div>
        </div>
      </div>
      <!-- /section title -->

      <!-- Products tab & slick -->
      <div class="col-md-12">
        <div class="row">
          <div class="products-tabs">
            <!-- tab -->
            <div id="tab2" class="tab-pane fade in active">
              <div class="products-slick" data-nav="#slick-nav-2">
                <!-- product -->
                <div class="product">
                  <div class="product-img">
                    <img src="./user/img/product06.png" alt="">
                    <div class="product-label">
                      <span class="sale">-30%</span>
                      <span class="new">NEW</span>
                    </div>
                  </div>
                  <div class="product-body">
                    <p class="product-category">Category</p>
                    <h3 class="product-name"><a href="#">product name goes here</a></h3>
                    <h4 class="product-price">$980.00 <del class="product-old-price">$990.00</del></h4>
                    <div class="product-rating">
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                    </div>
                    <div class="product-btns">
                      <button class="add-to-wishlist"><i class="fa fa-heart-o"></i><span class="tooltipp">add to wishlist</span></button>
                      <button class="add-to-compare"><i class="fa fa-exchange"></i><span class="tooltipp">add to compare</span></button>
                      <button class="quick-view"><i class="fa fa-eye"></i><span class="tooltipp">quick view</span></button>
                    </div>
                  </div>
                  <div class="add-to-cart">
                    <button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> add to cart</button>
                  </div>
                </div>
                <!-- /product -->

                <!-- product -->
                <div class="product">
                  <div class="product-img">
                    <img src="./user/img/product07.png" alt="">
                    <div class="product-label">
                      <span class="new">NEW</span>
                    </div>
                  </div>
                  <div class="product-body">
                    <p class="product-category">Category</p>
                    <h3 class="product-name"><a href="#">product name goes here</a></h3>
                    <h4 class="product-price">$980.00 <del class="product-old-price">$990.00</del></h4>
                    <div class="product-rating">
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star-o"></i>
                    </div>
                    <div class="product-btns">
                      <button class="add-to-wishlist"><i class="fa fa-heart-o"></i><span class="tooltipp">add to wishlist</span></button>
                      <button class="add-to-compare"><i class="fa fa-exchange"></i><span class="tooltipp">add to compare</span></button>
                      <button class="quick-view"><i class="fa fa-eye"></i><span class="tooltipp">quick view</span></button>
                    </div>
                  </div>
                  <div class="add-to-cart">
                    <button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> add to cart</button>
                  </div>
                </div>
                <!-- /product -->

                <!-- product -->
                <div class="product">
                  <div class="product-img">
                    <img src="./user/img/product08.png" alt="">
                    <div class="product-label">
                      <span class="sale">-30%</span>
                    </div>
                  </div>
                  <div class="product-body">
                    <p class="product-category">Category</p>
                    <h3 class="product-name"><a href="#">product name goes here</a></h3>
                    <h4 class="product-price">$980.00 <del class="product-old-price">$990.00</del></h4>
                    <div class="product-rating">
                    </div>
                    <div class="product-btns">
                      <button class="add-to-wishlist"><i class="fa fa-heart-o"></i><span class="tooltipp">add to wishlist</span></button>
                      <button class="add-to-compare"><i class="fa fa-exchange"></i><span class="tooltipp">add to compare</span></button>
                      <button class="quick-view"><i class="fa fa-eye"></i><span class="tooltipp">quick view</span></button>
                    </div>
                  </div>
                  <div class="add-to-cart">
                    <button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> add to cart</button>
                  </div>
                </div>
                <!-- /product -->

                <!-- product -->
                <div class="product">
                  <div class="product-img">
                    <img src="./user/img/product09.png" alt="">
                  </div>
                  <div class="product-body">
                    <p class="product-category">Category</p>
                    <h3 class="product-name"><a href="#">product name goes here</a></h3>
                    <h4 class="product-price">$980.00 <del class="product-old-price">$990.00</del></h4>
                    <div class="product-rating">
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                    </div>
                    <div class="product-btns">
                      <button class="add-to-wishlist"><i class="fa fa-heart-o"></i><span class="tooltipp">add to wishlist</span></button>
                      <button class="add-to-compare"><i class="fa fa-exchange"></i><span class="tooltipp">add to compare</span></button>
                      <button class="quick-view"><i class="fa fa-eye"></i><span class="tooltipp">quick view</span></button>
                    </div>
                  </div>
                  <div class="add-to-cart">
                    <button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> add to cart</button>
                  </div>
                </div>
                <!-- /product -->

                <!-- product -->
                <div class="product">
                  <div class="product-img">
                    <img src="./user/img/product01.png" alt="">
                  </div>
                  <div class="product-body">
                    <p class="product-category">Category</p>
                    <h3 class="product-name"><a href="#">product name goes here</a></h3>
                    <h4 class="product-price">$980.00 <del class="product-old-price">$990.00</del></h4>
                    <div class="product-rating">
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                    </div>
                    <div class="product-btns">
                      <button class="add-to-wishlist"><i class="fa fa-heart-o"></i><span class="tooltipp">add to wishlist</span></button>
                      <button class="add-to-compare"><i class="fa fa-exchange"></i><span class="tooltipp">add to compare</span></button>
                      <button class="quick-view"><i class="fa fa-eye"></i><span class="tooltipp">quick view</span></button>
                    </div>
                  </div>
                  <div class="add-to-cart">
                    <button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> add to cart</button>
                  </div>
                </div>
                <!-- /product -->
              </div>
              <div id="slick-nav-2" class="products-slick-nav"></div>
            </div>
            <!-- /tab -->
          </div>
        </div>
      </div>
      <!-- /Products tab & slick -->
    </div>
    <!-- /row -->
  </div>
  <!-- /container -->
</div>
<!-- /SECTION -->

<!-- SECTION -->
<div class="section">
  <!-- container -->
  <div class="container">
    <!-- row -->
    <div class="row">
      <div class="col-md-4 col-xs-6">
        <div class="section-title">
          <h4 class="title">Top selling</h4>
          <div class="section-nav">
            <div id="slick-nav-3" class="products-slick-nav"></div>
          </div>
        </div>

        <div class="products-widget-slick" data-nav="#slick-nav-3">
          <div>
            <!-- product widget -->
            <div class="product-widget">
              <div class="product-img">
                <img src="./user/img/product07.png" alt="">
              </div>
              <div class="product-body">
                <p class="product-category">Category</p>
                <h3 class="product-name"><a href="#">product name goes here</a></h3>
                <h4 class="product-price">$980.00 <del class="product-old-price">$990.00</del></h4>
              </div>
            </div>
            <!-- /product widget -->

            <!-- product widget -->
            <div class="product-widget">
              <div class="product-img">
                <img src="./user/img/product08.png" alt="">
              </div>
              <div class="product-body">
                <p class="product-category">Category</p>
                <h3 class="product-name"><a href="#">product name goes here</a></h3>
                <h4 class="product-price">$980.00 <del class="product-old-price">$990.00</del></h4>
              </div>
            </div>
            <!-- /product widget -->

            <!-- product widget -->
            <div class="product-widget">
              <div class="product-img">
                <img src="./user/img/product09.png" alt="">
              </div>
              <div class="product-body">
                <p class="product-category">Category</p>
                <h3 class="product-name"><a href="#">product name goes here</a></h3>
                <h4 class="product-price">$980.00 <del class="product-old-price">$990.00</del></h4>
              </div>
            </div>
            <!-- product widget -->
          </div>

          <div>
            <!-- product widget -->
            <div class="product-widget">
              <div class="product-img">
                <img src="./user/img/product01.png" alt="">
              </div>
              <div class="product-body">
                <p class="product-category">Category</p>
                <h3 class="product-name"><a href="#">product name goes here</a></h3>
                <h4 class="product-price">$980.00 <del class="product-old-price">$990.00</del></h4>
              </div>
            </div>
            <!-- /product widget -->

            <!-- product widget -->
            <div class="product-widget">
              <div class="product-img">
                <img src="./user/img/product02.png" alt="">
              </div>
              <div class="product-body">
                <p class="product-category">Category</p>
                <h3 class="product-name"><a href="#">product name goes here</a></h3>
                <h4 class="product-price">$980.00 <del class="product-old-price">$990.00</del></h4>
              </div>
            </div>
            <!-- /product widget -->

            <!-- product widget -->
            <div class="product-widget">
              <div class="product-img">
                <img src="./user/img/product03.png" alt="">
              </div>
              <div class="product-body">
                <p class="product-category">Category</p>
                <h3 class="product-name"><a href="#">product name goes here</a></h3>
                <h4 class="product-price">$980.00 <del class="product-old-price">$990.00</del></h4>
              </div>
            </div>
            <!-- product widget -->
          </div>
        </div>
      </div>

      <div class="col-md-4 col-xs-6">
        <div class="section-title">
          <h4 class="title">Top selling</h4>
          <div class="section-nav">
            <div id="slick-nav-4" class="products-slick-nav"></div>
          </div>
        </div>

        <div class="products-widget-slick" data-nav="#slick-nav-4">
          <div>
            <!-- product widget -->
            <div class="product-widget">
              <div class="product-img">
                <img src="./user/img/product04.png" alt="">
              </div>
              <div class="product-body">
                <p class="product-category">Category</p>
                <h3 class="product-name"><a href="#">product name goes here</a></h3>
                <h4 class="product-price">$980.00 <del class="product-old-price">$990.00</del></h4>
              </div>
            </div>
            <!-- /product widget -->

            <!-- product widget -->
            <div class="product-widget">
              <div class="product-img">
                <img src="./user/img/product05.png" alt="">
              </div>
              <div class="product-body">
                <p class="product-category">Category</p>
                <h3 class="product-name"><a href="#">product name goes here</a></h3>
                <h4 class="product-price">$980.00 <del class="product-old-price">$990.00</del></h4>
              </div>
            </div>
            <!-- /product widget -->

            <!-- product widget -->
            <div class="product-widget">
              <div class="product-img">
                <img src="./img/product06.png" alt="">
              </div>
              <div class="product-body">
                <p class="product-category">Category</p>
                <h3 class="product-name"><a href="#">product name goes here</a></h3>
                <h4 class="product-price">$980.00 <del class="product-old-price">$990.00</del></h4>
              </div>
            </div>
            <!-- product widget -->
          </div>

          <div>
            <!-- product widget -->
            <div class="product-widget">
              <div class="product-img">
                <img src="./user/img/product07.png" alt="">
              </div>
              <div class="product-body">
                <p class="product-category">Category</p>
                <h3 class="product-name"><a href="#">product name goes here</a></h3>
                <h4 class="product-price">$980.00 <del class="product-old-price">$990.00</del></h4>
              </div>
            </div>
            <!-- /product widget -->

            <!-- product widget -->
            <div class="product-widget">
              <div class="product-img">
                <img src="./user/img/product08.png" alt="">
              </div>
              <div class="product-body">
                <p class="product-category">Category</p>
                <h3 class="product-name"><a href="#">product name goes here</a></h3>
                <h4 class="product-price">$980.00 <del class="product-old-price">$990.00</del></h4>
              </div>
            </div>
            <!-- /product widget -->

            <!-- product widget -->
            <div class="product-widget">
              <div class="product-img">
                <img src="./user/img/product09.png" alt="">
              </div>
              <div class="product-body">
                <p class="product-category">Category</p>
                <h3 class="product-name"><a href="#">product name goes here</a></h3>
                <h4 class="product-price">$980.00 <del class="product-old-price">$990.00</del></h4>
              </div>
            </div>
            <!-- product widget -->
          </div>
        </div>
      </div>

      <div class="clearfix visible-sm visible-xs"></div>

      <div class="col-md-4 col-xs-6">
        <div class="section-title">
          <h4 class="title">Top selling</h4>
          <div class="section-nav">
            <div id="slick-nav-5" class="products-slick-nav"></div>
          </div>
        </div>

        <div class="products-widget-slick" data-nav="#slick-nav-5">
          <div>
            <!-- product widget -->
            <div class="product-widget">
              <div class="product-img">
                <img src="./user/img/product01.png" alt="">
              </div>
              <div class="product-body">
                <p class="product-category">Category</p>
                <h3 class="product-name"><a href="#">product name goes here</a></h3>
                <h4 class="product-price">$980.00 <del class="product-old-price">$990.00</del></h4>
              </div>
            </div>
            <!-- /product widget -->

            <!-- product widget -->
            <div class="product-widget">
              <div class="product-img">
                <img src="./user/img/product02.png" alt="">
              </div>
              <div class="product-body">
                <p class="product-category">Category</p>
                <h3 class="product-name"><a href="#">product name goes here</a></h3>
                <h4 class="product-price">$980.00 <del class="product-old-price">$990.00</del></h4>
              </div>
            </div>
            <!-- /product widget -->

            <!-- product widget -->
            <div class="product-widget">
              <div class="product-img">
                <img src="./user/img/product03.png" alt="">
              </div>
              <div class="product-body">
                <p class="product-category">Category</p>
                <h3 class="product-name"><a href="#">product name goes here</a></h3>
                <h4 class="product-price">$980.00 <del class="product-old-price">$990.00</del></h4>
              </div>
            </div>
            <!-- product widget -->
          </div>

          <div>
            <!-- product widget -->
            <div class="product-widget">
              <div class="product-img">
                <img src="./user/img/product04.png" alt="">
              </div>
              <div class="product-body">
                <p class="product-category">Category</p>
                <h3 class="product-name"><a href="#">product name goes here</a></h3>
                <h4 class="product-price">$980.00 <del class="product-old-price">$990.00</del></h4>
              </div>
            </div>
            <!-- /product widget -->

            <!-- product widget -->
            <div class="product-widget">
              <div class="product-img">
                <img src="./user/img/product05.png" alt="">
              </div>
              <div class="product-body">
                <p class="product-category">Category</p>
                <h3 class="product-name"><a href="#">product name goes here</a></h3>
                <h4 class="product-price">$980.00 <del class="product-old-price">$990.00</del></h4>
              </div>
            </div>
            <!-- /product widget -->

            <!-- product widget -->
            <div class="product-widget">
              <div class="product-img">
                <img src="./user/img/product06.png" alt="">
              </div>
              <div class="product-body">
                <p class="product-category">Category</p>
                <h3 class="product-name"><a href="#">product name goes here</a></h3>
                <h4 class="product-price">$980.00 <del class="product-old-price">$990.00</del></h4>
              </div>
            </div>
            <!-- product widget -->
          </div>
        </div>
      </div>

    </div>
    <!-- /row -->
  </div>
  <!-- /container -->
</div>
<!-- /SECTION -->

<!-- NEWSLETTER -->
<div id="newsletter" class="section">
  <!-- container -->
  <div class="container">
    <!-- row -->
    <div class="row">
      <div class="col-md-12">
        <div class="newsletter">
          <p>Sign Up for the <strong>NEWSLETTER</strong></p>
          <form>
            <input class="input" type="email" placeholder="Enter Your Email">
            <button class="newsletter-btn"><i class="fa fa-envelope"></i> Subscribe</button>
          </form>
          <ul class="newsletter-follow">
            <li>
              <a href="#"><i class="fa fa-facebook"></i></a>
            </li>
            <li>
              <a href="#"><i class="fa fa-twitter"></i></a>
            </li>
            <li>
              <a href="#"><i class="fa fa-instagram"></i></a>
            </li>
            <li>
              <a href="#"><i class="fa fa-pinterest"></i></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!-- /row -->
  </div>
  <!-- /container -->
</div>
<!-- /NEWSLETTER -->





<td>
  <div class="form-check form-switch">
    <% if(x.status) {%>
    <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" checked>

    <label class="form-check-label" for="flexSwitchCheckChecked" href="/admin/useractive<%= x._id%>"></label>
  </div>
</td>
<td>
  <!-- <button type="button" class="btn btn-secondary"><a class="text-white" href=>Edit</a></button> -->
  <div class="form-check form-switch">
    <% }else{%>
    <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" checked>

    <label class="form-check-label" for="flexSwitchCheckChecked" href="/admin/useractive<%= x._id%>"></label>
    <% } %>
  </div>
</td>





app.get('*', function(req, res){
res.send('what???', 404);
});





const updateCategory = async (req, res) => {
try {
// console.log(req.params.id);
let bodyData = req.body.Category
bodyData = bodyData.trim()
let capData = bodyData.toUpperCase()
let description = req.body.Description
let id = req.params.id



const collectedData = await CategoryData.findById({ _id: id })
console.log(id);
const allCategory = await CategoryData.findOne({ category: capData })



if (collectedData.category == capData) {
if (collectedData.description == description) {
res.render('editCategory', { message: "No chages made", vcategory: collectedData })
} else {
await CategoryData.updateOne({ _id: id }, { $set: { category: capData, description: description } })
res.redirect('/admin/category')
}
}
else if (allCategory) {
res.render('editCategory', { message: "Category is allready exist", vcategory: collectedData })
} else if (bodyData.length === 0)

// if category name shows only spaces, show an error message
res.render('editCategory', { message: "Category name can't be only spaces", vcategory: collectedData })
else {
await CategoryData.updateOne({ _id: id }, { $set: { category: capData, description: description } })
}
res.redirect('/admin/category')
} catch (error) {
console.log(error.message);
}
}




<div class="col-md-6 col-lg-7 p-b-30">
  <div class="p-l-25 p-r-30 p-lr-0-lg">
    <div class="wrap-slick3 flex-sb flex-w">
      <div class="wrap-slick3-dots"></div>
      <div class="wrap-slick3-arrows flex-sb-m flex-w"></div>

      <ul>
        <li><img src="/proImages/<%=products.image[0]%>" alt="" class="small_img"></li>
        <li><img src="/proImages/<%=products.image[1]%>" alt="" class="small_img"></li>
        <li><img src="/proImages/<%=products.image[2]%>" alt="" class="small_img"></li>
      </ul>
      <img src="/proImages/<%=products.image[0]%>" alt="" class="big_img">
      <!-- <div class="slick3 gallery-lb">
        <div class="item-slick3" data-thumb="/proImages/<%=products.image[0]%>">

          <div class="wrap-pic-w pos-relative">
            <img src="/proImages/<%=products.image[0]%>" alt="IMG-PRODUCT" class="small_img">

            <a class="flex-c-m size-108 how-pos1 bor0 fs-16 cl10 bg0 hov-btn3 trans-04" href="/proImages/<%=products.image[0]%>">
              <i class="fa fa-expand"></i>
            </a>
          </div>
        </div>

        <div class="item-slick3" data-thumb="/proImages/<%=products.image[1]%>">
          <div class="wrap-pic-w pos-relative">
            <img src="/proImages/<%=products.image[1]%>" alt="IMG-PRODUCT">

            <a class="flex-c-m size-108 how-pos1 bor0 fs-16 cl10 bg0 hov-btn3 trans-04" href="/proImages/<%=products.image[1]%>">
              <i class="fa fa-expand"></i>
            </a>
          </div>
        </div>

        <div class="item-slick3" data-thumb="/proImages/<%=products.image[2]%>">
          <div class="wrap-pic-w pos-relative">
            <img src="/proImages/<%=products.image[2]%>" alt="IMG-PRODUCT">

            <a class="flex-c-m size-108 how-pos1 bor0 fs-16 cl10 bg0 hov-btn3 trans-04" href="/proImages/<%=products.image[2]%>">
              <i class="fa fa-expand"></i>
            </a>
          </div>
        </div>
        
      </div> -->

    </div>
  </div>
</div>











<%- include ('../layouts/user/header.ejs') %>
	<%- include ('../layouts/user/navbar.ejs') %>


		<div class="colorlib-loader"></div>

		<div id="page">
			<form action="" method="" id="mainForm">

				<div class="breadcrumbs">
					<div class="container">
						<div class="row">
							<div class="col">
								<p class="bread"><span><a href="index.html">Home</a></span> / <span>Checkout</span></p>
							</div>
						</div>
					</div>
				</div>


				<div class="colorlib-product" style="font-weight: bold;color: black;">
					<div class="container">

						<div class="row" id="aiswaryam">
							<div class="col-lg-8">
								<form method="post" class="colorlib-form">
									<h2>Billing Details</h2>
									<div class="row">

										<% if(!user.address[0]) {%>




											<div class="col-md-6">
												<div class="form-group">
													<label for="fname">Name</label>
													<input style="color: black; font-weight: 400;" type="text" id="fname" class="form-control"
														name="name" placeholder="Full Name" required>
												</div>
											</div>
											<div class="col-md-12" style="font-weight: bold;color: black;">
												<div class="form-group">
													<label for="country">Select Address</label>
													<div class="form-field">
														<!-- <i class="icon icon-arrow-down3"></i> -->
														<select style="color: black; font-weight: 400;" name="address" id="people"
															class="form-control" required>
															<option value="">Add your Address </option>
															<% user.address.forEach(element=> { %>
																<option style="color: black;">
																</option>
																<% }); %>
														</select>
													</div>

													<a class="btn btn-outline-warning mt-3 " data-toggle="modal" data-target="#exampleModalCenter"
														style="text-decoration: none;font-weight: 400;margin-left:500px ;"
														href="/UserviewAddressview">Add Address</a>





												</div>
											</div>
											<div class="col-md-6">
												<div class="form-group">
													<label for="Phone">Phone Number</label>
													<input style="color: black; font-weight: 400;" type="text" id="zippostalcode"
														class="form-control" placeholder="Enter phone Number" name="phone" required>

												</div>
											</div>
									</div>
							</div>

							<%}else{%>

								<div id="reloadDiv">
									<div class="col-md-6">
										<div class="form-group">
											<label for="fname">Name</label>
											<input style="color: black; font-weight: 400;" type="text" id="fname" class="form-control"
												name="name" value='<%=user.address[0].name%>' placeholder="Full Name">
										</div>
									</div>


									<div class="col-md-12" style="font-weight: bold;color: black;">
										<div class="form-group">
											<label for="country">Select Address</label>
											<div class="form-field">
												<!-- <i class="icon icon-arrow-down3"></i> -->
												<select style="color: black; font-weight: 400;" name="address" id="people" class="form-control">
													<option>Select Address</option>
													<% user.address.forEach(element=> { %>
														<option style="color: black;" value="<%=element.name%>,<%=element.phone%>,<%=element.housename%>,<%=element.street%>,<%=element.district%>,<%=element.state%>,	 
																 <%=element.pincode%>,<%=element.country%>">
															<%=element.housename%>,<%=element.street%>,<%=element.district%>,<%=element.state%>,
																			<%=element.pincode%>,<%=element.country%>
														</option>
														<% }); %>
												</select>
											</div>

										</div>
										<!-- Button trigger modal -->

										<a class="btn btn-outline-warning mt-3 " data-toggle="modal" data-target="#exampleModalCenter"
											style="text-decoration: none;font-weight: 400;margin-left:500px ;" href="/UserviewAddressview">Add
											Address</a>



									</div>



									<div class="col-md-6">
										<div class="form-group">
											<label for="Phone">Phone Number</label>
											<input style="color: black; font-weight: 400;" type="text" id="zippostalcode" class="form-control"
												placeholder="Enter phone Number" name="phone" value='<%=user.address[0].phone%>'>

										</div>
									</div>


								</div>



						</div>

					</div>
					<%}%>
						<div class="col-lg-4">
							<div class="row">
								<div class="col-md-12">
									<div class="cart-detail">
										<h2>Cart Total</h2>
										<ul>
											<li>
												<span>Subtotal</span> <span>$<%=user.cartTotallPrice %></span>
												<input name="carttp" type="hidden" value="<%=user.cartTotallPrice %>">
												<ul>
													<% user.cart.forEach(element=> { %>
														<li><span>
																<%=element.quantity %> x <%=element.product.name %>
															</span>
															<input type="hidden" name="singlePrice" value="<%=element.product.price %>">
															<span>$<%=element.productTotalPrice %></span>
														</li>
														<input name="proId" type="hidden" value="<%=element.product._id%>">
														<input name="pqty" type="hidden" value="<%=element.quantity %>">
														<input name="pname" type="hidden" value="<%=element.product.name %>">
														<input name="protp" type="hidden" value="<%=element.productTotalPrice %>">
														<input name="userId" type="hidden" value="user._id">

														<% }); %>


												</ul>
											</li>
											<!-- <li><span>Shipping</span> <span>$0.00</span></li> -->
											<li><span style="font-weight: 700;color: rgb(26, 176, 235);">Order Total</span> <span
													style="font-weight: 700;color: rgb(26, 176, 235);">$<%=user.cartTotallPrice %></span>
											</li>
											<input name="totalp" type="hidden" value="<%=user.cartTotallPrice %>">
										</ul>
									</div>
								</div>

								<div class="w-100"></div>

								<div class="col-md-12">
									<div class="cart-detail">
										<h2>Payment Method</h2>
										<div class="form-group">
											<div class="col-md-12">
												<div class="radio">
													<label><input type="radio" name="paymentoption" value="COD"> Cash on Delivery</label>
												</div>
											</div>
										</div>
										<div class="form-group">
											<div class="col-md-12">
												<div class="radio">
													<label><input type="radio" name="paymentoption" value="ONLINE"> Online Payment</label>
												</div>
											</div>
										</div>


									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-12 text-center">
									<!-- <a type="button submit" class="btn btn-outline-success" style="text-decoration: none;font-weight: 400 ;"
																	href="/postorder">Purchase Now</a> -->
									<button class="btn btn-outline-success" type="submit">submit</button>

								</div>
							</div>
						</div>
				</div>
			</form>
		</div>
		</div>
		</div>
		</div>
		</div>




		<!-- Modal -->
		<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
			aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<!-- <h5 class="modal-title" id="exampleModalLongTitle">Add Addresss</h5> -->
						<div id="alertfield" class="alert alert-danger" role="alert" style="display: none;">
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<div class="modal-body ml-5">
							<form id="myForm" method="post" action="">
								<div class="row">

									<div class="col-md-6 ">
										<div class="profile-head">
											<h5>

											</h5>

											<ul class="nav nav-tabs" id="myTab" role="tablist">
												<li class="nav-item">
													<a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab"
														aria-controls="home" aria-selected="true">About</a>

												</li>
											</ul>
										</div>
									</div>
									<!-- <div class="col-md-2">
													<input type="submit" class="btn btn-primary" name="btnAddMore" value="Save Address"/>
											</div>
									</div> -->


									<div class="col-md-8" style="color: black;font-weight: bold;">
										<div class="tab-content profile-tab" id="myTabContent">
											<div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
												<div class="row">
													<div class="col-md-6">
														Name:
														<input type="text" class="form-control" placeholder="Enter Your Full Name" name="username"
															required>
													</div>

													<div class="col-md-6">
														House Name:
														<input type="text" class="form-control" placeholder="Enter Housename" name="userhousename"
															required>
													</div>
												</div>
												<div class="row">
													<div class="col-md-6">
														Street:
														<input type="text" class="form-control" placeholder="Enter Street Name" name="userstreet"
															required>

													</div>
													<div class="col-md-6">
														District:
														<input type="text" class="form-control" placeholder="Enter your District "
															name="userdistrict" required>

													</div>
													<div class="col-md-6">


													</div>
												</div>
												<div class="row">
													<div class="col-md-6">
														State:
														<input type="text" class="form-control" placeholder="Enter your State " name="userstate"
															required>

													</div>

												</div>
												<div class="row">
													<div class="col-md-6">
														Phone:
														<input type="text" class="form-control" placeholder="Enter your Phone Number "
															name="userphonenumber" required>

													</div>

												</div>
												<div class="row">
													<div class="col-md-6">
														Pincode:
														<input type="text" class="form-control" placeholder="Enter your Pincode " name="userpincode"
															required>

													</div>

												</div>

												<div class="row">
													<div class="col-md-6">
														Country:
														<input type="text" class="form-control mb-5" placeholder="Enter your Country "
															name="usercountry" required>

													</div>

													<button type="submit" style="margin-bottom:36px ;font-weight: bold;padding: 22px; width:274px"
														class="btn btn-outline-warning">Submit</button>
													<!-- <a type="button submit" class="btn btn-outline-success" style="text-decoration: none;font-weight: 400;" href="/UserviewAddressview">submit</a> -->


												</div>

											</div>

										</div>
									</div>
								</div>
							</form>
						</div>

					</div>
				</div>
			</div>



			<script>
				//modal Add address
				const form = document.querySelector('#myForm')
				$('#myForm').submit(function (e) {
					e.preventDefault()
					let formData = $(this).serialize()
					const inputs = document.querySelectorAll('#myForm input')
					let inputField = false
					for (let i = 0; i < inputs.length; i++) {
						if (inputs[i].value.trim() == '') {
							inputField = true
							$('#alertfield').attr({ style: 'display:block' }).html('All fields Required')
							setTimeout(() => {
								$('#alertfield').hide()
							}, 3000)
							break; // stop the loop if any input is empty
						}
					}
					if (!inputField) {
						$.ajax({
							url: '/checkoutAddAddress',
							data: formData,
							method: 'post',
							success: (Response) => {
								// handle the response from the server
								console.log(Response);
								if (Response) {

									$('#exampleModalCenter').on('hidden.bs.modal', function () {

										// $(this).find('form').trigger('reset');
									});
									$('#exampleModalCenter').modal('hide');
									$('#aiswaryam').load('/checkout #aiswaryam')
								}
							}
						})
					}
				})






				//main form submit for success
				$('#mainForm').submit(function (e) {
					e.preventDefault();
					var formData = $(this).serialize();
					$.ajax({
						url: '/checkout', // replace with the URL of your server-side script
						method: 'POST', // use POST method
						data: formData,
						success: (response) => {
							// handle the response from the server
							console.log("yes")
							console.log(response);
							if (response.status) {
								location.href = '/success'
							} else if (response.radio) {
								Swal.fire({
									icon: 'error',
									title: 'Oops...',
									text: 'Select Payment Method.',
								})
							} else if (response.viewRazorpay) {
								razorpayPayment(response.order)

							}
						},

					});
				});


				function razorpayPayment(order) {
					var options = {
						"key": "rzp_test_J8ft2g2cBjOM7u", // Enter the Key ID generated from the Dashboard
						"amount": order.amount, // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
						"currency": "INR",
						"name": "ShoeCart", //your business name
						"description": "Test Transaction",
						"image": "https://example.com/your_logo",
						"order_id": order.id, //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
						"handler": function (response) {

							verifyPayment(response, order)

						},
						"prefill": {
							"name": "Adhil Bin Ashraf", //your customer's name
							"email": "adhilbinashraf3000@example.com",
							"contact": "9000090000"
						},
						"notes": {
							"address": "Razorpay Corporate Office"
						},
						"theme": {
							"color": "#3399cc"
						}
					};

					var rzp1 = new Razorpay(options);
					rzp1.open();

				}

				function verifyPayment(payment, order) {
					$.ajax({
						url: '/verify-payment',
						data: {
							payment,
							order
						},
						method: "post",
						success: (response) => {
							// handle the response from the server
							console.log("yes")
							console.log(response);
							if (response.status) {
								location.href = '/success'
							}
						}
					})

				}


			</script>



<!-- gfhdjksldkfjghjfkdlfkgj -->

<%- include('../layouts/admin/header.ejs') %>
<%- include('../layouts/admin/navbar.ejs') %>
<%- include('../layouts/admin/sidebar.ejs') %>




<main id="main" class="main">
  <div class="pagetitle">
    <h1>Dashboard</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/admin/dashboard">Home</a></li>
        <li class="breadcrumb-item active">Dashboard</li>
      </ol>
    </nav>
  </div><!-- End Page Title -->

  <section class="section dashboard">
    <div class="row">

      <!-- Left side columns -->
      <div class="col-lg-8">
        <div class="row">
          <!-- Sales Card -->
          <div class="col-md-4">
            <div class="card info-card sales-card">

              <div class="filter">
                <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                  <li class="dropdown-header text-start">
                    <h6>Filter</h6>
                  </li>

                  <li><a class="dropdown-item" href="#">Today</a></li>
                  <li><a class="dropdown-item" href="#">This Month</a></li>
                  <li><a class="dropdown-item" href="#">This Year</a></li>
                </ul>
              </div>

              <div class="card-body">
                <h5 class="card-title">Sales <span>| Today</span></h5>

                <div class="d-flex align-items-center">
                  <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                    <i class="bi bi-cart"></i>
                  </div>
                  <div class="ps-3">
                    <h6><%= salesCount %></h6>
                    <!-- <span class="text-success small pt-1 fw-bold">12%</span> <span class="text-muted small pt-2 ps-1">increase</span> -->

                  </div>
                </div>
              </div>

            </div>
          </div><!-- End Sales Card -->

          <!-- Revenue Card -->
          <div class="col-md-4">
            <div class="card info-card revenue-card">

              <div class="filter">
                <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                  <li class="dropdown-header text-start">
                    <h6>Filter</h6>
                  </li>

                  <li><a class="dropdown-item" href="#">Today</a></li>
                  <li><a class="dropdown-item" href="#">This Month</a></li>
                  <li><a class="dropdown-item" href="#">This Year</a></li>
                </ul>
              </div>

              <div class="card-body">
                <h5 class="card-title">Revenue <span>| This Month</span></h5>

                <div class="d-flex align-items-center">
                  <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                    <i class="bi bi-currency-dollar"></i>
                  </div>
                  <div class="ps-3">
                    <h6><%= revenueOfTheWeek %></h6>
                    <span class="text-success small pt-1 fw-bold">8%</span> <span class="text-muted small pt-2 ps-1">increase</span>

                  </div>
                </div>
              </div>

            </div>
          </div><!-- End Revenue Card -->

          <!-- Customers Card -->
          <div class="col-md-4">
            <div class="card info-card customers-card">

              <div class="filter">
                <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                  <li class="dropdown-header text-start">
                    <h6>Filter</h6>
                  </li>

                  <li><a class="dropdown-item" href="#">Today</a></li>
                  <li><a class="dropdown-item" href="#">This Month</a></li>
                  <li><a class="dropdown-item" href="#">This Year</a></li>
                </ul>
              </div>

              <div class="card-body">
                <h5 class="card-title">Customers <span>| This Year</span></h5>

                <div class="d-flex align-items-center">
                  <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                    <i class="bi bi-people"></i>
                  </div>
                  <div class="ps-3">
                    <h6><%= userCount %></h6>
                    <span class="text-danger small pt-1 fw-bold">12%</span> <span class="text-muted small pt-2 ps-1">decrease</span>

                  </div>
                </div>

              </div>
            </div>

          </div><!-- End Customers Card -->

        </div>
      </div><!-- End Left side columns -->


      <div class="col-lg-8">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Doughnut Chart</h5>

            <!-- Doughnut Chart -->
            <canvas id="doughnutChart" style="max-height: 400px;"></canvas>
            <script>
              document.addEventListener("DOMContentLoaded", () => {
                new Chart(document.querySelector('#doughnutChart'), {
                  type: 'doughnut',
                  data: {
                    labels: [
                      'Red',
                      'Blue',
                      'Yellow'
                    ],
                    datasets: [{
                      label: 'My First Dataset',
                      data: [300, 50, 100],
                      backgroundColor: [
                        'rgb(255, 99, 132)',
                        'rgb(54, 162, 235)',
                        'rgb(255, 205, 86)'
                      ],
                      hoverOffset: 4
                    }]
                  }
                });
              });
            </script>
            <!-- End Doughnut CHart -->

          </div>
        </div>
      </div>









          <!-- Reports -->
          <div class="col-10">
            <div class="card">

              <div class="filter">
                <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                  <li class="dropdown-header text-start">
                    <h6>Filter</h6>
                  </li>

                  <li><a class="dropdown-item" href="#">Today</a></li>
                  <li><a class="dropdown-item" href="#">This Month</a></li>
                  <li><a class="dropdown-item" href="#">This Year</a></li>
                </ul>
              </div>

              <div class="card-body">
                <h5 class="card-title">Reports <span>/Today</span></h5>

                <!-- Line Chart -->
                <div id="reportsChart"></div>

                <script>
                  document.addEventListener("DOMContentLoaded", () => {
                    new ApexCharts(document.querySelector("#reportsChart"), {
                      series: [{
                        name: 'Sales',
                        data: [31, 40, 28, 51, 42, 82, 56],
                      }, {
                        name: 'Revenue',
                        data: [11, 32, 45, 32, 34, 52, 41]
                      }, {
                        name: 'Customers',
                        data: [15, 11, 32, 18, 9, 24, 11]
                      }],
                      chart: {
                        height: 350,
                        type: 'area',
                        toolbar: {
                          show: false
                        },
                      },
                      markers: {
                        size: 4
                      },
                      colors: ['#4154f1', '#2eca6a', '#ff771d'],
                      fill: {
                        type: "gradient",
                        gradient: {
                          shadeIntensity: 1,
                          opacityFrom: 0.3,
                          opacityTo: 0.4,
                          stops: [0, 90, 100]
                        }
                      },
                      dataLabels: {
                        enabled: false
                      },
                      stroke: {
                        curve: 'smooth',
                        width: 2
                      },
                      xaxis: {
                        type: 'datetime',
                        categories: ["2018-09-19T00:00:00.000Z", "2018-09-19T01:30:00.000Z", "2018-09-19T02:30:00.000Z", "2018-09-19T03:30:00.000Z", "2018-09-19T04:30:00.000Z", "2018-09-19T05:30:00.000Z", "2018-09-19T06:30:00.000Z"]
                      },
                      tooltip: {
                        x: {
                          format: 'dd/MM/yy HH:mm'
                        },
                      }
                    }).render();
                  });
                </script>
                <!-- End Line Chart -->

              </div>

            </div>
          </div><!-- End Reports -->

          <!-- Recent Sales -->
          <div class="col-10">
            <div class="card recent-sales overflow-auto">

              <div class="filter">
                <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                  <li class="dropdown-header text-start">
                    <h6>Filter</h6>
                  </li>

                  <li><a class="dropdown-item" href="#">Today</a></li>
                  <li><a class="dropdown-item" href="#">This Month</a></li>
                  <li><a class="dropdown-item" href="#">This Year</a></li>
                </ul>
              </div>

              <div class="card-body">
                <h5 class="card-title">Recent Sales <span>| Today</span></h5>

                <table class="table table-borderless datatable">
                  <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">Customer</th>
                      <th scope="col">Product</th>
                      <th scope="col">Price</th>
                      <th scope="col">Status</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th scope="row"><a href="#">#2457</a></th>
                      <td>Brandon Jacob</td>
                      <td><a href="#" class="text-primary">At praesentium minu</a></td>
                      <td>$64</td>
                      <td><span class="badge bg-success">Approved</span></td>
                    </tr>
                    <tr>
                      <th scope="row"><a href="#">#2147</a></th>
                      <td>Bridie Kessler</td>
                      <td><a href="#" class="text-primary">Blanditiis dolor omnis similique</a></td>
                      <td>$47</td>
                      <td><span class="badge bg-warning">Pending</span></td>
                    </tr>
                    <tr>
                      <th scope="row"><a href="#">#2049</a></th>
                      <td>Ashleigh Langosh</td>
                      <td><a href="#" class="text-primary">At recusandae consectetur</a></td>
                      <td>$147</td>
                      <td><span class="badge bg-success">Approved</span></td>
                    </tr>
                    <tr>
                      <th scope="row"><a href="#">#2644</a></th>
                      <td>Angus Grady</td>
                      <td><a href="#" class="text-primar">Ut voluptatem id earum et</a></td>
                      <td>$67</td>
                      <td><span class="badge bg-danger">Rejected</span></td>
                    </tr>
                    <tr>
                      <th scope="row"><a href="#">#2644</a></th>
                      <td>Raheem Lehner</td>
                      <td><a href="#" class="text-primary">Sunt similique distinctio</a></td>
                      <td>$165</td>
                      <td><span class="badge bg-success">Approved</span></td>
                    </tr>
                  </tbody>
                </table>

              </div>

            </div>
          </div><!-- End Recent Sales -->

          <!-- Top Selling -->
          <div class="col-12">
            <div class="card top-selling overflow-auto">

              <div class="filter">
                <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                  <li class="dropdown-header text-start">
                    <h6>Filter</h6>
                  </li>

                  <li><a class="dropdown-item" href="#">Today</a></li>
                  <li><a class="dropdown-item" href="#">This Month</a></li>
                  <li><a class="dropdown-item" href="#">This Year</a></li>
                </ul>
              </div>

              <div class="card-body pb-0">
                <h5 class="card-title">Top Selling <span>| Today</span></h5>

                <table class="table table-borderless">
                  <thead>
                    <tr>
                      <th scope="col">Preview</th>
                      <th scope="col">Product</th>
                      <th scope="col">Price</th>
                      <th scope="col">Sold</th>
                      <th scope="col">Revenue</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th scope="row"><a href="#"><img src="/assets/img/product-1.jpg" alt=""></a></th>
                      <td><a href="#" class="text-primary fw-bold">Ut inventore ipsa voluptas nulla</a></td>
                      <td>$64</td>
                      <td class="fw-bold">124</td>
                      <td>$5,828</td>
                    </tr>
                    <tr>
                      <th scope="row"><a href="#"><img src="/assets/img/product-2.jpg" alt=""></a></th>
                      <td><a href="#" class="text-primary fw-bold">Exercitationem similique doloremque</a></td>
                      <td>$46</td>
                      <td class="fw-bold">98</td>
                      <td>$4,508</td>
                    </tr>
                    <tr>
                      <th scope="row"><a href="#"><img src="/assets/img/product-3.jpg" alt=""></a></th>
                      <td><a href="#" class="text-primary fw-bold">Doloribus nisi exercitationem</a></td>
                      <td>$59</td>
                      <td class="fw-bold">74</td>
                      <td>$4,366</td>
                    </tr>
                    <tr>
                      <th scope="row"><a href="#"><img src="/assets/img/product-4.jpg" alt=""></a></th>
                      <td><a href="#" class="text-primary fw-bold">Officiis quaerat sint rerum error</a></td>
                      <td>$32</td>
                      <td class="fw-bold">63</td>
                      <td>$2,016</td>
                    </tr>
                    <tr>
                      <th scope="row"><a href="#"><img src="/assets/img/product-5.jpg" alt=""></a></th>
                      <td><a href="#" class="text-primary fw-bold">Sit unde debitis delectus repellendus</a></td>
                      <td>$79</td>
                      <td class="fw-bold">41</td>
                      <td>$3,239</td>
                    </tr>
                  </tbody>
                </table>

              </div>

            </div>
          </div><!-- End Top Selling -->
    
    </div>
  </section>

</main><!-- End #main -->

<%- include('../layouts/admin/footer.ejs') %>
























			<%- include ('../layouts/user/footer.ejs') %>
